$primary: #43b1f1;
$primary_hover_background: #e0f2ff;
$dark_primary: #1890ff;
$text_grey: #000000D9;
$text_dark_grey: #333333;
$border_grey: #eaeaea;
$grey_background: #f2f4f5;

* {
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
}

*::after {
    box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    box-sizing: border-box
}

.examples-doc {
    height: 100vh;
    font-size: 14px;
    color: $text_grey;

    ul,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        box-sizing: border-box
    }

    ul {
        list-style: none;
        padding: 0;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.6em;
    }

    h3 {
        font-size: 1.3em;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .header {
        box-shadow: 0 1px 10px 1px #f0f0f0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >.logo {
            display: flex;
            align-items: center;
            padding: 0 20px;
            height: 64px;

            >img {
                height: 50px;
            }
        }
    }

    .body {
        >.aside {
            width: 20%;
            max-width: 280px;
            min-width: 200px;
            height: 100%;
            overflow-y: auto;
            border-right: 1px solid #eaeaea;

            p.menu-title {
                padding-left: 40px;
                font-weight: bold;
            }

            .sub-menu>.menu-item>a {
                padding-left: 66px;
                transition: all 0.2s;

                &:hover {
                    color: $primary;
                }

                &.active {
                    background-color: $primary_hover_background;
                    border-right: 3px solid $dark_primary;
                    color: $primary;
                    font-weight: 500;
                }
            }

            .menu-item {
                display: flex;
            }

            .menu-title,
            .menu-item>a {
                flex: 1;
                height: 36px;
                line-height: 36px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin: 4px 0;
                padding-right: 10px;
            }
        }
    }

    .doc-layout {
        .simple-layout {
            color: white;

            &-aside {
                background: #3ba0e9;
            }

            &-header {
                background: #7dbcea;
            }

            &-content {
                background: #108ee9;
            }

            &-footer {
                background: #7dbcea;
            }
        }
    }
}