$primary: #43b1f1;
$primary_hover_background: #e0f2ff;
$dark_primary: #1890ff;
$primary_grey: #333333;
$text_grey: #000000d9;
$text_dark_grey: #333333;
$border_grey: rgba(0, 0, 0, 0.15);
$grey_background: #f2f4f5;

* {
	margin: 0;
	padding: 0;
	list-style: none;
}

*::after {
	box-sizing: border-box;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	box-sizing: border-box;
}

.examples-doc {
	height: 100vh;
	font-size: 14px;
	color: $text_grey;

	ul,
	li,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin: 0;
		box-sizing: border-box;
	}

	ul {
		list-style: none;
		padding: 0;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.6em;
	}

	h3 {
		font-size: 1.3em;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.header {
		box-shadow: 0 1px 10px 1px #f0f0f0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 40px;

		> .logo {
			display: flex;
			align-items: center;
			height: 64px;

			> img {
				height: 50px;
			}
		}
	}

	.body {
		overflow: hidden;

		> .aside {
			width: 20%;
			max-width: 280px;
			min-width: 200px;
			height: 100%;
			overflow-y: auto;
			border-right: 1px solid $border_grey;

			p.menu-title {
				padding-left: 40px;
				font-weight: bold;
			}

			.sub-menu > .menu-item > a {
				padding-left: 66px;
				transition: all 0.2s;

				&:hover {
					color: $primary;
				}

				&.active {
					background-color: $primary_hover_background;
					border-right: 3px solid $dark_primary;
					color: $primary;
					font-weight: 500;
				}
			}

			.menu-item {
				display: flex;
			}

			.menu-title,
			.menu-item > a {
				flex: 1;
				height: 36px;
				line-height: 36px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				margin: 4px 0;
				padding-right: 10px;
			}
		}

		> main {
			overflow: auto;
		}
	}

	.footer {
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		background: $primary_grey;
	}

	.doc-layout {
		.simple-layout {
			color: white;

			&-aside {
				background: #3ba0e9;
			}

			&-header {
				background: #7dbcea;
			}

			&-content {
				background: #108ee9;
			}

			&-footer {
				background: #7dbcea;
			}
		}
	}

	.demo-box {
		width: 100%;
		margin-bottom: 8px;
		box-sizing: border-box;
		border: 1px solid $border_grey;
		border-radius: 2px;
		display: flex;
		flex-direction: column;

		> .demo-demo {
			padding: 28px 24px;
		}

		> .demo-intro {
			border-top: 1px solid $border_grey;
			padding: 0 24px;
			margin-bottom: 20px;

			> h4 {
				display: inline-block;
				font-weight: 500;
				padding: 0 8px;
				transform: translateY(-50%);
				background-color: white;
			}
		}

		> .demo-buttons {
			padding: 14px 24px;
			border-top: 1px $border_grey dashed;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		> .demo-code {
			pre {
				border-top: 1px $border_grey dashed;
				white-space: pre-wrap;
				margin: 0;
				padding: 24px;
				background-color: white;
			}
		}
	}

	.attrs-table {
		width: 100%;
		border: 1px solid $border_grey;

		> thead th,
		> tbody td {
			padding: 10px 12px;
		}

		> thead {
			text-align: left;
			background-color: $grey_background;
			white-space: nowrap;
		}
	}

	.icon-container {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
		margin-right: 30px;

		> span {
			margin-left: 5px;
		}
	}
}
